{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "CosmosDbConnectionString": "AccountEndpoint=https://TWOJA-COSMOS-DB.documents.azure.com:443/;AccountKey=TWOJ-ACCOUNT-KEY-TUTAJ=="
  }
}
